extends layout

block Content
  .Index-Panel.is-Responsive
        p.text-center
          | Hi User, 
          br
          | URL Shortner allows you to shorten a url that can easily be memorised and shared among your friends.
          br
          br
          if !user
            a(href="/user/register")
              button.btn.btn-primary.space  Register
            a(href="/user/login") 
              button.btn.btn-primary Login
            p.text-center Or
            div.text-center
              a(href="/auth/google") 
                button.btn.btn-danger(type='button')
                  i.fa.fa-google-plus(style='padding: 5px;' aria-hidden='false')
                  |  Signin via Google
