extends layout

block Content
  .Center-Panel.is-Responsive
    form(action="./login" method="POST")
      p.error #{nameErr}
      input.form-control(type='email' size='50' placeholder='Username' name ='email' required='')
      p.error #{passwordErr}
      input.form-control(type='password' size='50' placeholder='Password' name='password' required='')
      .text-center
        button.btn.btn-primary(type='submit') Login
