extends layout

block Content
  .Center-Panel.is-Responsive
    div(class="Message alert alert-info text-center") Shortened Url: 
      br 
      | #{url}
    br
    form(action = "./shorten-url", method="POST")
      input.form-control(type='text' size='50' placeholder='Enter url' required='', name='url')
      .form-group
        label localhost:3000/short/_______
        input.form-control(type='text' size='20' placeholder='(Optional)Paste text to create custom url.' name='shorturl')
      if errors
        each error, i in errors
          if(error.param == "shorturl") 
            p.error #{error.msg}
      br
      .text-center
          button.btn.btn-danger(type='submit') Shorten      
