extends layout

block Content
  .Relative-Center.is-Responsive
    form(action = "./shorten-url", method="POST")
      .input-group
        input.form-control(type='text' size='50' placeholder='Enter url' required='', name='url')
        .input-group-btn
          button.btn.btn-danger(type='submit') Shorten
    p.text-center #{url}
